/* Miscellanious */

h1 {
	text-align: center;
	font-family: helvetica;
	font-size: 55px;
	color: #333;
}

body {
	margin: 0;
	background-image: linear-gradient(#ffffff, #ffffff, #b4e5f1, #62B6CB);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Nav Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top:0;
  padding-top:0;
  position:relative;
}

li {
  float: left;
  font-family: helvetica
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #62B6CB;
}

table {
  border-collapse: collapse;
  width: 40%;
  grid-column: 10
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
