/* Miscellanious */

h1 {
	text-align: center;
	font-family: helvetica;
	font-size: 55px;
	color: #333;
}

body {
	margin: 0;
	background:"white";
}

/* Nav Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #397ae3;
  top:0;
  padding-top:0;
  position:relative;
  color: "white";
}

li {
  float: left;
  font-family: helvetica
}

li a {
  display: block;
  color: "white";
  text-align: center;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #2a5cad;
}

.active {
  background-color: "white";
  color: "black";
}
